p {
    color: #000999;
    font-family: 'Quicksand',
        sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png');
    /* background-image: url('https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg'); */
    /* background-size: cover;
    background-position: center; */

}